.blog {
    background-color: #191f25;
    min-height: 100dvh;
  }
  
  .blog .title {
    letter-spacing: 5px;
    font-weight: 100;
    color: #FAEBD7;
    text-align: center;
    font-family: 'tungsten';
    font-size: 200px;
  }
  
  .blog .form {
    text-align: center;
    padding-bottom: 10px;
  }
  
  .blog .everyPost {
    width: 90%;
    max-width: 800px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .porky-retrasado {
    width: 100%;
    margin-bottom: 100px;
  }

  .blog-footer {
    width: 100%;
    height: 200px;
  }

  @media (max-width: 500px) {
    .blog .title {
      font-size: 160px;
    }
  }