.container {
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section {
    width: 80%;
    max-width: 400px;

    margin: 0 auto 30px auto;
}

.subtitle {
    color: var(--clr-grey);
    text-align: center;
}

.title {
  text-align: center;
}


.post {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 25px;
    background-color: var(--blog-post);
    width: 100%;
    max-width: 800px; /* Set a maximum width */

    font-family: 'calibre';

    transition: background-color .4s;
  
    &:hover {
      background-color: var(--blog-postHover);
      cursor: pointer;
    }
  
  }

  .post .post_link {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }


  @media (max-width: 500px) {
    .title {
      font-size: 27px;
    }

    .subtitle {
      font-size: 16px;
    }
  }



